* {
    padding: 0em;
    margin: 0em;
}

:root {
    --bgcolor:#0365AE;
    --txtcolor:#fff; /* ogni f vale ff */
    --breadcolor:#163F77;
    --linkcolor:#fff;
    --visitedcolor:#F3C42B;
    --newscolor:#F3C42B;
    --newstxtcolor:#000;
    --contentbgcolor:#fff;
    --contenttxtcolor:#000;
}

html, body{
    font-size: 100%;
    font-family: "Lexend", Roboto, sans-serif;
    line-height: 1.5em;  /* imparare a memoria */
}

html{
    background-image:
        url("images/palla.png"), 
        url("images/palla.png"), 
        url("images/palla.png"),  
        linear-gradient(to bottom right, rgb(22 63 119/100%), transparent);
    background-repeat: no-repeat;
    background-position: top left, center right, bottom left, top left;
    background-size: 5%, 5%, 5%, 100%;
}


body {
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    max-width: 1200px; /* per non far allargare troppo la pagina e muovere la testa */
    margin: auto;
}



body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "h h h"
    "b b b"
    "m c n"
    "f f f";
}


/*
    ==============================
    SEZIONE HEADER 
    ==============================
*/

header {
    padding: 0em 1em;
    text-align: center;
    margin: 1em;
    grid-area: h;
}

header h1 {
    background-image: url("images/logo_fipav.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999em; /* sposta il testo fuori dallo schermo */
    font-size: 6em;
    line-height: 1.5em;
    margin-top: 0.3em;
}

header h2 {
    font-size: 1.8em;
    margin-top: 1.5em;
    padding: 0.5em;
}

#coppe {
    width: 140px;
    float: left;
    background-color: white;
    padding: 1em;
    border: solid black 1px;
    margin-top: 0em;
    transform: rotate(-15deg);
    transition: 0.5s;
}

#capitani {
    width: 140px;
    float: right;
    background-color: white;
    padding: 1em;
    border: solid black 1px;
    margin-top: 2em;
    transform: rotate(+15deg);
    transition: 0.5s;
}

/*
    ==============================
    SEZIONE ANIMAZIONI 
    ==============================
*/

#coppe:hover {
    transform: rotate(20deg);
}

#capitani:hover {
    transform: rotate(-20deg);
}

/*
    ==============================
    SEZIONE MENù 
    ==============================
*/

#menu {
    padding: 0.8em;
    font-size: 1.3em;
    grid-area: m;
}

#menu a:link{
    color: var(--linkcolor);
}

#menu a:visited{
    color: var(--visitedcolor);
}

#menu ul {
    list-style-type: none;
}

#menu ul li {
    margin-top: 1.5em;
}

#currentLink {
    background-image: url("images/palla.png");
    background-position: left center;
    background-size: 1.2em;
    background-repeat: no-repeat;
    padding-left: 1.5em; /* per non sovrapporre il pallino con il testo, margin sposta anche il background, padding no */
}

/*
    ==============================
    SEZIONE MAIN 
    ==============================
*/

main {
    background-color: var(--contentbgcolor);
    color: var(--contenttxtcolor);
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 3.5em;
    padding-right: 2em;
    border-left: 1px solid #000;
    grid-area: c;
}

main h1 {
    text-align: center;
    line-height: 1.5em;

}

main h2 {
    text-align: center;
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.polaroid {
    width: 30%;
    float: right;
    background-color: white;
    padding: 0.5em;
    border: solid black 1px;
    margin: 1em;
    transform: rotate(-3deg);

}

.atleti {
    border: solid #000 1px;
}

.atleti>dt {
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    padding: 0.5em;
    font-size: 1.1em;
}

.atleti>dd {
    padding: 0.5em;
    
}

.atleti>dl {
    margin-left: 25%;
}

.atleti>dd img {
    width: 160px;
    float: left;
    margin-right: 1em;
}

.atleta dt {
    float: left;
    color: var(--contenttxtcolor);
    font-weight: bold;
    background-color: white;
    padding-right: 0.5em;
}

.atleta>dd {
    padding-left: 2em;
}

dt.riconoscimenti {
    float: none;
}

.riconoscimenti li {
    list-style: none;
    background-image: url("images/palla.png");
    background-position: left center;
    background-size: 1.2em;
    background-repeat: no-repeat;
    padding-left: 1.5em;
}

#premi li {
    list-style: none;
    background-image: url("images/coppa.png");
    background-position: left center;
    background-size: 1.2em;
    background-repeat: no-repeat;
    padding-left: 1.5em;
}



/*
    ==============================
    SEZIONE NEWS 
    ==============================
*/


#breakingNews {
    color: var(--txtcolor);
    background-color: var(--bgcolor);
    padding: 0.5em;
    margin-right: 2%;
    margin-top: 1em;
    grid-area: n;
}

#breakingNews h2 {
    font-size: 1.2em;
    background-color: var(--newscolor);
    color: var(--newstxtcolor);
    padding: 0.2em;
}

#breakingNews dl dd {
    margin-left: 1.5em;
}

#breakingNews dt {
    font-weight: bold;
    margin-left: 0.8em;
}

/*
    ==============================
    SEZIONE BREADCRUMB 
    ==============================
*/

#breadcrumb {
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    font-size: 1.1em;
    border: 1px solid #000;
    padding: 0.5em 0em 0.5em 1.0em;
    grid-area: b;
}

/*
    ==============================
    SEZIONE FOOTER 
    ==============================
*/

footer {
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    text-align: center;
    font-size: 0.8em;
    border: 1px solid #000;
    padding: 0.5em;
    grid-area: f;
}

footer img {
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 0.7em;
    vertical-align: middle;
}

footer p {
    font-style: italic;
    display: inline;
}